* {
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
}

h1 {
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #333;
    align-items: center;
} 

#calc {
    width: 400px;
    background-color: #c4c4c4;
    color: black;
    margin-top: 130px;
}

#calc h3 {
    font-size: .8em;
    font-weight: 300;
    color: #666;
}

#display {
    text-align: right;
}
#previous, #current {
    min-height: 1.6em;
    padding: .2em;
    overflow-wrap: break-word;
}

#previous {
    color: #777;
}

#current {
    font-size: 3em;
    font-weight: 700;
}

#buttons_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 3px;
}

button {
    border: 1px solid transparent;
    border-radius: 0;
    height: 4em;
    font-size: 1.2em;
    background-color: #dbdbdb;
    cursor: pointer;
}

#buttons_container .number {
    background-color: #f3f3f3;
}

#buttons_container :hover {
    background-color: #bababa;
    border-color: #999;
}

#buttons_container #equal {
    grid-column: span 2;
    background-color: #75a5cb; 
}

#buttons_container #equal:hover {
    
    background-color: #3a91d8; 
}